<section>
    <div>
        {{#if errors}}
        <ul>
            {{#each errors}}
            <li>
                <div>
                    {{msg}}
                </div>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    <div>
        {{#if message}}
        <p> {{message}} </p>
        {{/if}}
    </div>
    <div>
        <h1>Register</h1>
        <form action="/register" method="post">
            <div>
                <label>Account Type</label>
                <br />
                <select name="role">
                    <option value="student">Student</option>
                    <option value="instructor">Instructor</option>
                </select>
            </div>
            <div>
                <label for="name">First Name</label>
                <input type="text" id="first-name" name="firstName" value="{{firstName}}">
            </div>
            <div>
                <label for="name">Last Name</label>
                <input type="text" id="last-name" name="lastName" value="{{lastName}}">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" value="{{email}}">
            </div>
            <div>
                <label for="name">Username</label>
                <input type="text" id="username" name="username" value="{{username}}">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="{{password}}" autocomplete="on" required>
            </div>
            <div>
                <label for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2" value="{{password2}}" required>
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <br />
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Register with <a href="/auth/google">Google+</a></p>
    </div>
</section>