<section>
    <span>{{role}}</span>
    <h1>Welcome {{local.firstName}} {{local.lastName}}</h1>
    <figure>
        <img src="{{profilePictureUrl}}" alt="profile-avatar">
    </figure>
    <p><a href="/profile/{{_id}}/edit">Edit Profile</a></p>

    <p>Profile info goes here... </p>
</section>